{% extends "layout.html" %}
{% load static %}
{% load bootstrap %}
{% block content %}
<!--- <a class="btn btn-default" href="{{ object.project.get_absolute_url }}">{{ object.project }}</a> -->
<form method="post">
{% csrf_token %}
{{form|bootstrap}}
<button class="btn btn-primary" type="submit">Submit</button>
</form>
{% endblock %}