{% extends "layout.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'campaigns_funding_list' %}">funding Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>Project</td>
    <td>Amount</td>
    <td>last_updated</td>
    <td>comment</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.pk}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td><a href="{{object.project.get_absolute_url}}">{{ object.project }}</a></td>
    <td>{{ object.amount }}</td>
    <td>{{ object.last_updated }}</td>
    <td>{{ object.comment }}</td>
</tr>
{% endfor %}
</table>
{% endblock %}