{% extends "layout.html" %}
{% load static %}
{% block content %}
<table class="table">
<tr><td>Projekt</td><td><a href="{{object.project.get_absolute_url"}}">{{object.project}}</a></td></tr>
<tr><td>Erstellt am</td><td>{{ object.created }}</td></tr>
<tr><td>Letztes Update</td><td>{{ object.last_updated }}</td></tr>
<tr><td>Kommentar</td><td>{{ object.comment }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Speichern</a>

{% endblock %}