{% extends "layout.html" %}
{% load static %}
{% load bootstrap %}
{% block content %}
<a class="btn btn-default" href="{{ object.get_absolute_url }}">{{ object }}</a>
<h2>Mail an Unterstützer von {{ object.name }}</h2>
<form method="post">
{% csrf_token %}
{{form|bootstrap}}
<button class="btn btn-primary" type="submit">Abschicken</button>
</form>
{% endblock %}