{% extends "layout.html" %}
{% load static %}
{% load bootstrap %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'campaigns_funding_list' %}">Projektliste</a></p>
<form method="post">
{% csrf_token %}
{{form|bootstrap}}
<button class="btn btn-primary" type="submit">Unterstützen!</button>
</form>
{% endblock %}