{% extends "layout.html" %}
{% load markdown_deux_tags %}
{% load l10n %}
{% load static %}
{% block content %}
	<br><br>
	<div class="row">
		<div class="col-md-12">
			<p><a class="btn btn-default" href="{% url 'campaigns_project_list' %}">Projektliste</a></p>
		</div>
		<div class="col-md-7">
			<h1>{{ object.name }}</h1>
			{{ object.description|markdown }}
		</div>
		<div class="col-md-5">
			{% if object.overFundingAllowed %}<span class="label label-success">Überfinanzierbar</span> {% endif %}
			<br><br>
			<table class="table">
				<tr><td>Erstellt am</td><td>{{ object.created }}</td></tr>
				<tr><td>Erstellt von</td><td>{{ object.creator }}</td></tr>
				<tr><td>Letztes Update</td><td>{{ object.last_updated }}</td></tr>
				<tr><td>Zieldatum</td><td>{{ object.targetdate }}</td></tr>
				<tr><td>Spendenziel</td>
				<td>
					{% widthratio object.funded_sum object.target 100 as width %}
					<div class="progress" data-toggle="tooltip" title="{{ object.funded_sum }} / {{ object.target }}€">
						<div class="progress-bar progress-bar-info progress-bar-left" role="progressbar" aria-valuenow="{{object.funded_sum|unlocalize}}" aria-valuemin="0" aria-valuemax="{{object.target}}" style="min-width: 4em; width: {{width}}%;">
							{{width}}%
						</div>
					</div>
				</td></tr>
			</table>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			{% if request.user == object.creator or request.user.is_superuser %}
				<a class="btn btn-primary" href="{{object.get_update_url}}">Projekt bearbeiten</a>
				<a class="btn btn-primary" href="{{object.get_mail_url}}">E-Mail verschicken</a>
			{% endif %}
			{% if object.is_fundable %}
				<a class="btn btn-success" href="{{ object.get_fund_url }}">Unterstützen</a>
			{% endif %}
			<br><br>
			<h2>Unterstützer</h2>
			<table class="table">
				<tr>
					<td>Betrag</td>
					<td>Von</td>
					<td>Letztes Update</td>
					<td>Kommentar</td>
					<td>-</td>
				</tr>
				{% for funding in object.funding_set.all %}
					<tr>
						<td>{{ funding.amount }} € {% if funding.payed %}<span class="label label-success">Bezahlt</span> {% endif %}</td>
						<td>{{ funding.funder }}</td>
						<td>{{ funding.last_updated }}</td>
						<td>{{ funding.comment }}</td>
					</td>
					<td>
						{% if request.user == funding.funder %}
							<a href="{{ funding.get_update_url }}">Editieren</a>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}