{% extends "layout.html" %}
{% load static %}
{% load bootstrap %}
{% block content %}
<br><br>
<p><a class="btn btn-default" href="{% url 'campaigns_project_list' %}">Projektliste</a></p>
<form method="post">
{% csrf_token %}
{{form|bootstrap}}
<button class="btn btn-primary" type="submit">Speichern</button>
</form>
{% endblock %}