{% extends "layout.html" %}
{% load l10n %}
{% load static %}
{% block content %}
<div class="row">
<div class="col-md-12">
<!--<p><a class="btn btn-default" href="{% url 'campaigns_project_list' %}">project Listing</a></p>-->
<table class="table">
<tr>
    <td></td>
    <td>Name</td>
    <td>Ersteller</td>
    <td>Erstelldatum</td>
    <td>Letztes Update</td>
    <td>Ziel</td>
    <td>Zieldatum</td>
    <td>Überfinanzierbar</td>
</tr>
{% for object in object_list %}
{% if not object.is_fundable %}
<tr>
    <td>{% if object.funded_sum >= object.target %}<span class="label label-success">Finanziert</span>
        {% else %}
        <span class="label label-warning">Gescheitert</span>
    {% endif %}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.creator }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>
                    {% widthratio object.funded_sum object.target 100 as width %}
                    <div class="progress" data-toggle="tooltip" title="{{ object.funded_sum }} / {{ object.target }}€">
                        <div class="progress-bar {% if width > 50 %} progress-bar-info {%else%} progress-bar-warning  {% endif %} progress-bar-left" role="progressbar" aria-valuenow="{{object.funded_sum|unlocalize}}" aria-valuemin="0" aria-valuemax="{{object.target}}" style="min-width: 4em; width: {{width}}%;">
                            {{width}}%
                        </div>
                    </div>
    </td>
    <td>{{ object.targetdate }}</td>
    <td>{% if object.overFundingAllowed %}<span class="label label-success">Überfinanzierbar</span>{% endif %}</td>
</tr>
{% else %}
<tr>
    <td>{% if object.funded_sum >= object.target %}<span class="label label-success">Finanziert</span>{% endif %}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.creator }}</td>
    <td>{{ object.created }}</td>
    <td>{{ object.last_updated }}</td>
    <td>
                    {% widthratio object.funded_sum object.target 100 as width %}
                    <div class="progress" data-toggle="tooltip" title="{{ object.funded_sum }} / {{ object.target }}€">
                        <div class="progress-bar {% if width > 50 %} progress-bar-info {%else%} progress-bar-warning  {% endif %} progress-bar-left" role="progressbar" aria-valuenow="{{object.funded_sum|unlocalize}}" aria-valuemin="0" aria-valuemax="{{object.target}}" style="min-width: 4em; width: {{width}}%;">
                            {{width}}%
                        </div>
                    </div>
    </td>
    <td>{{ object.targetdate }}</td>
    <td>{% if object.overFundingAllowed %}<span class="label label-success">Überfinanzierbar</span>{% endif %}</td>
</tr>
{% endif %}
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'campaigns_project_create' %}">Neues Projekt</a>
</div>
</div>
<br><br>
{% endblock %}